cloudpickle==0.8.0
Flask==1.0.2
gmpy2==2.0.8
html5lib==1.0.1
imbalanced-learn==0.7.0
imblearn==0.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
matplotlib==3.0.3
numpy==1.16.2
numpydoc==0.8.0
pandas==0.24.2
path.py==11.5.0
pathlib2==2.3.3
pickleshare==0.7.5
Pillow==5.4.1
ply==3.11
py==1.8.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.1.1
Pygments==2.3.1
pylint==2.3.1
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyrsistent==0.14.11
PySocks==1.6.8
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
PyYAML==5.1
QtPy==1.7.0
requests==2.21.0
scikit-image==0.14.2
scikit-learn==0.23.2
scipy==1.2.1
