{% extends "bootstrap/base.html" %}

{% block navbar %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <div class="navbar">
    <!-- ... -->
    <h1 class="text-center" style="font-size: 55px; font-weight: bold;">PaperCO predict</h1>
  </div>
  
  <title>PaperCO - App</title>
{% endblock %}


{% block head %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-t6I8D5dJmMXjCsRLhSzCltuhNZg6P10kE0m0nAncLUjH6GeYLhRU1zfLoW3QNQDF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='codepen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codepen2.css') }}">
    <script src="static/materialize.js"></script>
    <script src="static/codepen2.js"></script>
    <script src="static/materialize.js"></script>
    <script src="static/jquery-3.5.1.min.js"></script>
    <script src="static/materialize.min.js"></script>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


{% endblock %}



      <p class="lead text-white-50">Desafio da Comunidade Ciencia de Dados - Suzano S/A</p>




{% block content %}


  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          






    <div class="container">
      <h2>Manutenção Preditiva <small>Maquina de Secagem</small></h2>
      <hr/>
<div class="row">
  <form action='/predict' method="post" class="col s12">      
    <div class="row">       
 

        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag02</b></label>
            <output  class="bg-verde"></output>
            <input id="tag2_in" class="validate" type="range" name="Tag2" min="641.210000" max="644.530000" value="641.210000" step="0.01" onchange="tag2_out.value=value">        
            <output class="bg-vermelho" id="tag2_out">0</output>
          </div>
        </div>    
        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag04</b></label>
            <output class="bg-verde"></output>
            <input id="tag4_in" class="validate" type="range" name="Tag4" min="1382.250000" max="1441.490000" value="1382.250000" step="0.01" onchange="tag4_out.value=value">
            <output class="bg-vermelho" id="tag4_out">0</output>
          </div>
        </div>


       <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag07</b></label>
            <output class="bg-vermelho" ></output>
            <input id="tag7_in" class="validate" type="range" name="Tag7" min="549.8500" max="556.0600" value="549.8500" step="0.01" onchange="tag7_out.value=value">
            <output class="bg-verde" id="tag7_out">0</output>
          </div>
        </div>
        
        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag09</b></label>
            <output class="bg-verde" ></output>
            <input id="tag9_in" class="validate" type="range" name="Tag9" min="9021.730000" max="9244.590000" value="9021.730000" step="0.01" onchange="tag9_out.value=value">
            <output class="bg-vermelho" id="tag9_out">0</output>
          </div>
        </div>


        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag11</b></label>
            <output class="bg-verde"></output>
            <input id="tag11_in" class="validate" type="range" name="Tag11" min="46.850000" max="48.530000" value="46.850000" step="0.01" onchange="tag11_out.value=value">
            <output class="bg-vermelho" id="tag11_out">0</output>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag12</b></label>
            <output class="bg-vermelho" ></output>
            <input id="tag12_in" class="validate" type="range" name="Tag12" min="518.690000" max="523.380000" value="518.690000" step="0.01" onchange="tag12_out.value=value">
            <output class="bg-verde" id="tag12_out">0</output>
          </div>
        </div>


        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag14</b></label>
            <output class="bg-verde"></output>
            <input id="tag14_in" class="validate" type="range" name="Tag14" min="8099.940000" max="8293.720000" value="8099.940000" step="0.01" onchange="tag14_out.value=value">
            <output class="bg-vermelho" id="tag14_out">0</output>
          </div>
        </div>   
        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag15</b></label>
            <output class="bg-verde"></output>
            <input id="tag15_in" class="validate" type="range" name="Tag15" min="8.324900" max="8.584800" value="8.324900" step="0.01" onchange="tag15_out.value=value">
            <output class="bg-vermelho" id="tag15_out">0</output>
          </div>
        </div>


        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag20</b></label>
            <output class="bg-vermelho" ></output>
            <input id="tag20_in" class="validate" type="range" name="Tag20" min="38.140000" max="39.430000" value="38.140000" step="0.01" onchange="tag20_out.value=value">
            <output class="bg-verde" id="tag20_out">0</output>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="range">
            <label for="var_1"><b>Tag21</b></label>
            <output class="bg-vermelho"></output>
            <input id="tag21_in" class="validate" type="range" name="Tag21" min="22.894200" max="23.618400" value="22.894200" step="0.01" onchange="tag21_out.value=value">
            <output class="bg-verde" id="tag21_out">0</output>
          </div>
        </div>
    
    </div>  

        <br>
        <br>
        <div>
          <button type="submit" class="btn btn-success">Analisar</button>
        </div>
        <br>

  </form>
</div>
  

        {% if predx == 0 %}
            <div class="alert alert-success" role="alert">
              <h1 class="alert-heading"> Fora de risco!</h1>
              <p><h2>{{pred}}</h2></p>
              <hr>
              <p class="mb-0"><h3>{{bhai}}</h3></p>
            </div>
        {% elif predx == 1 %}
            <div class="alert alert-danger" role="alert">
              <h1 class="alert-heading">Atenção!</h1>
              <p><h2>{{pred}}</h2></p>
              <hr>
              <p class="mb-0"><h3>{{bhai}}</h3></p>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
              Selecione os valores das 10 Tags!
            </div>
        {% endif %}


{% block styles %}
{{super()}}
  <link href="static/codepen.css" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script src="static/codepen.js"></script>
{{super()}}
{% endblock %}


{% endblock %}